.icon {
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}

.content {
    display: none;
    position: absolute;
    color: red;
}

.icon:hover .content {
    display: block;
    width: 300px;
}